/* ---- Structure ---- */

* {
    box-sizing: border-box;
}

html {
    --col-fg: white;
    --col-bg: black;
    --col-bg12: rgba(0, 0, 0, .125);
    --col-bg25: rgba(0, 0, 0, .25);
    --col-bg50: rgba(0, 0, 0, .5);
    --col-bg75: rgba(0, 0, 0, .75);
    --col-fg12: rgba(255, 255, 255, .125);
    --col-fg25: rgba(255, 255, 255, .25);
    --col-fg50: rgba(255, 255, 255, .5);
    --col-fg75: rgba(255, 255, 255, .75);
    height: 100%;
    scroll-behavior: smooth;
}

html.light {
    --col-fg: black;
    --col-bg: white;
    --col-bg12: rgba(255, 255, 255, .125);
    --col-bg25: rgba(255, 255, 255, .25);
    --col-bg50: rgba(255, 255, 255, .5);
    --col-bg75: rgba(255, 255, 255, .75);
    --col-fg12: rgba(0, 0, 0, .125);
    --col-fg25: rgba(0, 0, 0, .25);
    --col-fg50: rgba(0, 0, 0, .5);
    --col-fg75: rgba(0, 0, 0, .75);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    margin: 0;
    color: white;
    background: #002814;
    font: 1.25rem/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer {
    margin-top: 3rem;
    background: var(--col-bg25);
    backdrop-filter: blur(1.5rem);
}

nav {
    flex: 1;
}

nav ul {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 9rem;
}

nav li {
    display: flex;
}

nav a.btn {
    margin: 1.5rem .75rem;
    padding: .75rem 1.25rem;
}

.lang-switch {
    display: flex;
    justify-content: space-between;
    width: 9rem;
    margin: 1rem 2.5rem 1rem 1.5rem;
}

.lang-switch a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(3.75rem + 2 * .0625rem);
    height: calc(2.5rem + 2 * .0625rem);
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
    -webkit-text-stroke: .09375rem black;
    text-shadow: 0 0 .25rem rgba(0, 0, 0, .75);
    border: .0625rem solid var(--col-bg);
    background: center / contain no-repeat;
}

#lang-fr {
    background-image: url('/img/flag-fr.png');
}

#lang-en {
    background-image: url('/img/flag-en.png');
}

main {
    flex: 1;
    width: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-in-out;
    opacity: 0;
}

.presentation-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.presentation-text {
    flex: 1;
}

.presentation-name {
    font-size: 3rem;
}

.presentation-role {
    font-size: 2rem;
}

.presentation-picture {
    display: flex;
}

.presentation-picture img {
    max-width: 14rem;
    border-radius: 50%;
}


/* ---- Overrides ---- */

p {
    margin: 2rem 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1 {
    display: none;
}

h2 {
    margin: 5rem 0 3.5rem;
    padding: 1rem 0;
    background: var(--col-bg25);
    backdrop-filter: blur(1.5rem);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}

h3 {
    margin: 3rem 0 0 .25rem;
    font-size: 2rem;
    font-weight: 600;
}
h3::after {
    content: "";
    display: block;
    width: calc(100% + .25rem);
    height: .125rem;
    margin: 0.25rem 0 .25rem -.25rem;
    background: linear-gradient(90deg, currentColor 25%, transparent 100%);
}


/* ---- Utils ---- */

.list {
    list-style-type: disc;
    margin: 2rem 0;
    padding-left: 2rem
}

@property --btn-col-top {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, .125);
    inherits: false;
}
@property --btn-col-bottom {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, .25);
    inherits: false;
}

.btn {
    --btn-col-top: var(--col-bg12);
    --btn-col-bottom: var(--col-bg25);
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color: currentColor;
    background: linear-gradient(var(--btn-col-top), var(--btn-col-bottom));
    border: .125rem solid var(--col-fg25);
    backdrop-filter: blur(1.5rem);
    cursor: pointer;
    transition: --btn-col-top .125s ease-in-out, --btn-col-bottom .125s ease-in-out, border-color .125s ease-in-out;
}
.btn:hover, .btn:focus {
    --btn-col-top: var(--col-bg25);
    --btn-col-bottom: var(--col-bg50);
    border-color: var(--col-fg50);
}
.btn:active {
    --btn-col-top: var(--col-bg50);
    --btn-col-bottom: var(--col-bg25);
    border-color: var(--col-fg75);
}
.btn.selected {
    -webkit-text-stroke: 0.0625rem currentColor;
    --btn-col-top: var(--col-bg50);
    --btn-col-bottom: var(--col-bg75);
    border-color: var(--col-fg75);
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.btn-list .btn {
    flex: 35%;
}

.limit-width {
    max-width: 64rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.screenshot-row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 2rem 0;
}
.screenshot-row .screenshot {
    display: flex;
    align-items: center;
    width: 100%;
}
.screenshot-row .screenshot img {
    width: 100%;
    box-shadow: 0 0 .5rem var(--col-bg50);
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.contact-list li {
    display: flex;
}

.no-top-margin {
    margin-top: 0 !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}


/* ---- Media queries ---- */

@media screen and (max-width: 940px) {
    nav ul {
        justify-content: flex-start;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: .75rem;
    }
    
    header {
        flex-direction: column;
    }
    
    nav {
        width: 100%;
    }
    
    nav ul {
        flex-direction: column;
        margin: 0 0 1.5rem;
    }
    
    nav a.btn {
        margin: .5rem 1rem;
    }
    
    .lang-switch {
        order: -1;
        margin: 1.5rem 0;
    }
    
    .presentation-wrapper {
        flex-direction: column;
        text-align: center;
    }
    
    .presentation-picture {
        order: -1;
    }
    
    .btn-list .btn {
        flex: 100%;
    }
}
